body{
background: #202020;
margin: 0px;
padding: 0px;
}

.app-header{

}

.title{
background: black;
padding: 5px;
}

.page-title{
text-align: center;
color: #00BFFF;
font-size: 50px;
background: black;
margin: 0px;
padding: 2px;
text-decoration: underline;
}

.sub-title{
text-align: center;
color: #00BFFF;
background: black;
font-size: 25px;
margin: 0px;
padding: 2px;
font-style: italic;
}

.search-bar-div{
display: flex;
justify-content: center;
margin-top: 15px;
}

.search-bar{
width: 300px;
height: 30px;
border-width: 3px;
border-color: #00BFFF;
background: black;
color: white;
text-style: bold;
text-align: center;
}

.search-bar::placeholder{
color: #00BFFF;
text-align: center;
}

.search-bar:hover{
background: #202020;
}

.search-bar:focus{
background: #202020;
}

.search-bar:focus::placeholder{
color: #202020;
}

